*{
    padding: 0;
    margin: 0;
}
body{
    color: black;
    padding: 1em;
    font-family: monospace;
    font-size: 1.5em;
    background: #f3f3f3;
}

#div_1, #div_2{
    color: #c4c4c4;
}

#div_1 h2, #div_2 h2{
    color: #a3a3a3;
}

.container{
    margin-bottom: 1em;
    padding: 1em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
}

.nav{
    margin-bottom: 5em;
}
.menu{
    list-style: none;
    float: left;
}

.menu li{
    position: relative;
    float: left;
    border-bottom: 1px solid #c4c4c4;
    padding: 1em;
}

.menu li:last-child {
    position: absolute;
    right: 0;
    border:none;
}
/* Div 3 - Filipe */
table{
    border: 2px solid #606060;
    border-spacing: 0px;
    margin-right: auto;
    font-size: 0.6em;
    text-align: center;
}
table td{
    border: 1px solid #606060;
    background-color: #acffa9;
}
table tr th{
    background-color: #f9ffa9;
}
div.best{
    display: inline-block;
    padding-left: 15px;
    padding-top: 15px;
    margin-left: 0.6em;
}
div#div_3 h2{
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color: #e1e7ff;
    padding: 15px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
h3#ney{
    text-align: center;
    background-color: #e1e7ff;
    margin-top: 0.4em;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
}
/* fechamento Div 3 */

footer{
    text-align: center;
    background-color: #710d0d;
    color: white;
    margin-top: 8em;
    padding: 3em;
}