*{
    padding: 0;
    margin: 0;
}
body{
    color: black;
    padding: 1em;
    font-family: monospace;
    font-size: 1.5em;
    background: #f3f3f3;
}

#div_2{
    color: #c4c4c4;
}

#div_1 h2, #div_2 h2{
    color: #a3a3a3;
}

.container{
    margin-bottom: 1em;
    padding: 1em;
    background: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
}

.nav{
    margin-bottom: 5em;
}
.menu{
    list-style: none;
    float: left;
}

.menu li{
    position: relative;
    float: left;
    border-bottom: 1px solid #c4c4c4;
    padding: 1em;
}

.menu li:last-child {
    position: absolute;
    right: 0;
    border:none;
}

/* Diogo - Responsavel pela Div_1 */

#div_1 {
    
    /*float: left;*/
    width: 30%;
    height: 100%;
    position: relative;
    
}

.container_1{
    margin-bottom: 1em;
    padding: 1em;
    background: rgba(31, 31, 31, 0.6);
    border-radius: 10px;
    box-shadow: 6px 6px 5px rgba(0, 0, 0, .6);
}

#div_1 p {
    text-align: justify;
    text-indent: 50px;
    color: white;
    font-family: sans-serif;
}

#div_1 h2{
    color: white;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, .6);
    margin-bottom: .8em;
    text-align: center;
}

.foto {
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, .7);
    
}

